*.py[cod]
*~
*.log
*#
**#
.venv

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*.*.*
.cache
.tox
*.tar.gz
env
htmlcov

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Oar-docker
.oardocker

# Vagrant
.vagrant

benchmarking/__pycache__
benchmarking/cachedir
benchmarking/sweeps
benchmarking/nodefile
benchmarking/install_commands.sh
